/* Edit styles */

.laneName {
    display: flex;
    cursor: text;
    min-height: 40px;
}

.laneName button {
    position: relative;
    left: -30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.value {
    flex: 1;
}